page-edit {
  .main {
    background: #3f54ae;
  }
//.title{
//  font-size: 14px;
//  text-align: center;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//}
  .title{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
  }
  .center{

  }
  .avatar{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .avatarimg{
    width:35%!important;
    height:35%!important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text{
    color: #3f54ae;
    font-size: 22px;
    font-weight: bold;
  }
  .save{
    color: #3f54ae;
    font-size: 19px;
    text-align: center;
    padding-top: 5%;
  }
  .area{
    border: 1px solid gray;
  }
}
