page-registration {
  .main{
    background-color: #3f54ae;
  }
  .center{
    margin: auto;
    width: 100%;
    padding: 5%;
    padding-top: 10%;
  }
  h1{
       color: white;
       font-size: 30px;
       padding-bottom: 7%;
     }
  .text{
    color: white;
    font-size: 19px;
    text-align: center;
    padding-top: 10%;
    float: right;
  }
  .footer{
    color: white;
    padding-top: 28%;
    padding-left: 5%;
  }
  .enter{
    font-size: 15px;
  }
  ion-item.main{
    padding: 0;
  }
}
