page-rest-password {
  .restPage {
    padding: 40% 5% 0 5%;
  }
  .restPage ion-item {
    padding-right: 0;
    padding-left: 0;
  }
  .main {
    background: #3f54ae;
    margin: auto;
    width: 100%;
    padding-top: 8%;
  }
  h1 {
    color: #f4f4f4;
    font-size: 30px;
  }
  .next {
    float: right;
    color: white;
    font-size: 19px;
  }
  .prev {
    color: white;
    font-size: 19px;
  }
  .text {
    padding-top: 8%;
  }
  .label-md {
    margin: 13px 0 13px 0;
  }
  .item-md.item-block .item-inner {
    padding-right: 0px;
  }
}
